html{
scroll-behavior: smooth;
}
/* body{

} */
/* h1,h2,h3,h4{

} */
header{
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    padding: 1% 10%;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
}
.navbar-icon{
    color: white;
}
.nav-link{
    transition: .4s;
   text-decoration: solid;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 7px;
}
.nav-link:hover{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
transform: scale(1.05);
}
.banner-container{
    height: 100vh;
}
.banner-contents h1{
font-size: 3rem;
padding: 1rem;
background-color: #4169E1;
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
color: black;
font-family: 'Pacifico', cursive;
}
.x{
    font-family: 'Odibee Sans', cursive;
    font-size: xx-large;
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}
#features{
padding: 1% 7%;
background-color: #F5F5F5;
margin-right: 15px;
}
.features-col{
    border: 1px solid #663399;
    border-radius: 5px;
    padding: 5%;
    margin: 20px 1px;
    transition: .4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: #97D9E1;
    padding: 15px;
    color:blue;
    margin: 5px 0px;
}
.byju img{
    width:300px;
    height:300px;
    margin-top: 20px;
}
.byjuc{
    padding: 1% 3%;
    border-radius: 50px;

}
#advantage{
    padding: 1% 7%;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    
    margin-right: 15px;
}
.advantage-col{
    margin: 20px 7px;
    transition: .4s;
}
.ad-hd{
    font-family: 'Bebas Neue', cursive;
}
#tutorials{

margin-right: 15px;
}
.hr-style{
    border-bottom: none;
    width: 150px;
    border: 2px black dotted;
}
.feedback-img{
    margin-bottom: 20px;
    height: 500px;
}
.carousel-item{
    padding: 7% 15%;
    text-align: center;
    font-style: italic;
}
.log-in{
    display: inline-block;
}
.social-icons{
    border: none;
background-color: none;
}
.social-icons:hover{
 
    transform: scale(1.2);
}

/* updated */
.icon-style{
    padding:5px;
    margin: 10px;
    border-radius: 40%;
    border: none;
    border: 2px solid black;
    text-align: center;
    color:black;
    transition: .4s;
    line-height: 32px;
    font-size: 2rem;
}
.icon-style:hover{
    background-color: aqua;
    transform: scale(1.2);
}
.somoy{
    text-align: center;
}
#clock span{
      display:inline-block;
      width: 60px;
      height: 40px;
      background-color: red;
      box-shadow: 0 5px 15px blue;
      margin: 0 1px;
      line-height: 40px;
  }
#clock span:last-child{
    background-color: tan;
   
}
#greet{
 color:#FFF8DC;
 font-family: 'Pacifico', cursive;
 word-spacing: 10px;
 letter-spacing: 2px;
font-size: 5rem;
padding: 10px;
}
.time{
    text-align: center;
    margin-top: 20px;
}
